@font-face {
    font-family: "Inter";
    font-style: normal;
    font-weight: 400;
    src: url("../plants/assets/fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: "Inter";
    font-style: bold;
    font-weight: 700;
    src: url("../plants/assets/fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: "Inika";
    font-style: normal;
    font-weight: 400;
    src: url("../plants/assets/fonts/Inika/Inika-Regular.ttf");
}

@font-face {
    font-family: "Inika";
    font-style: bold;
    font-weight: 700;
    src: url("../plants/assets/fonts/Inika/Inika-Bold.ttf");
}

:root {
    --color-white-background: #FFFFFF;
    --color-light-green-background-section: #EDF2EC;
    --color-green-text-title: #499A18;
    --color-orange-text-title: #E06733;
    --color-grey-text-title: #717171;
    --color-grey-text-paragraph: #636060;
    --color-black-text-link: #000000;
}

body {
    box-sizing: border-box;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    flex-direction: column;
    justify-content: space-between;
}

.container-desktop {
    box-sizing: border-box;
    max-width: 1440px;
    margin: 0 auto;
}

.flex-wrapper_row {
    display: flex;
    flex-direction: row;
}

.flex-wrapper_column {
    display: flex;
    flex-direction: column;
}

.flex-wrapper_space-between {
    justify-content: space-between;
}

.flex-wrapper_space-evenly {
    justify-content: space-evenly;
}

.flex-wrapper_center {
    justify-content: center;
}

.header,
.section-welcome_background,
.background_light-green {
    background: var(--color-light-green-background-section);
}

.header-wrapper_padding {
    padding: 42px 109px;
}

.header-logo__img-link {
    align-self: center;
    margin-bottom: 5px;
}

.header-nav-li__a,
.header-logo__link {
    font-family: 'Inika';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    color: var(--color-black-text-link);
    text-decoration: none;
}

.header-nav__li {
    padding-left: 47px;
    list-style-type: none;
}

.section-welcome_padding {
    padding: 58px 109px;
}

.section-welcome__img {
    margin-top: -0.5em;
    margin-left: -0.55em;

}

.section-welcome-article {
    margin-right: 1%;
    width: 44%;
}

.section-welcome-article__h2 {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    font-size: 45px;
    line-height: 110%;
    color: var(--color-grey-text-title);
    margin: 0;
    margin-top: -0.2em;
}

.section-welcome__span_color {
    color: var(--color-green-text-title);
}

.section-welcome-article__p {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 175%;
    color: var(--color-grey-text-paragraph);
    margin: 0;
}

.section-welcome-article__a_button-learn-more {
    width: 158px;
    height: 44px;
    background: var(--color-light-green-background-section);
    border: 2px solid var(--color-orange-text-title);
    border-radius: 10px;
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-bottom: -0.6em;
}

.section-welcome-article__a_button-learn-more-text {
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    color: var(--color-black-text-link);
}

