:root {
    --color-white-background: #FFFFFF;
    --color-light-green-background-section: #EDF2EC;
    --color-green-text-title: #499A18;
    --color-orange-text-title: #E06733;
    --color-grey-text-title: #717171;
    --color-grey-text-paragraph: #636060;
    --color-black-text-link: #000000;
}

.container-desktop {
    max-width: 1440px;
    margin: 0 auto;
}